<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/pet_home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="style.css" rel="stylesheet">

      <title>Medical Records</title>
</head>


<body class="bg-primary bg-opacity-25">

    <nav class="navbar bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">PetClinic</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="nav navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/vaccines" class="nav-link" ><i class="bi-house"></i>Vaccines</a>
                    </li>
                    <li class="nav-item">
                        <a href="/medical_records" class="nav-link" ><i class="bi-person"></i>Medical Records</a>
                    </li>
                    <li class="nav-item">
                        <a href="/chipset_barren" class="nav-link" ><i class="bi-person"></i>ChipSet And Barren</a>
                    </li>
                    <li class="nav-item">
                        <a href="/signout" class="nav-link" >Exit</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section class="pt-5 mt-5">
        <div class="container-fluid">
            <form method="post">
                {% csrf_token %}
                <label  for="pet_id">Pet ID: </label>
                <input type="text" id="pet_id" name="pet_id" placeholder="Pet ID">
                <button class="btn bg-primary" name="form_1" type="submit">Search</button>
            </form>
            {% if messages %}
            {% for message in messages %}
                <p class="text-danger">{{ message }}</p>
            {% endfor %}
            {% endif %}

        </div>
    </section>

    {% if pet %}
      <div class="row g-4 m-3 p-3" style="border: solid; border-radius: 30px">
          <div class="col-md-4" >
              <img class="img-thumbnail rounded-5 p-0 m-0" src="{{ pet.image.url }}" style="width: 400px; height: 400px" alt="...">
          </div>
          <div class="col-md-8 ">
              <div class="row g-4 m-3 p-3 ">
                  <div class="col-md-6 text-center align-middle">
                      <h3>{{ pet.name }} </h3>
                      <br>
                      <h3>{{ pet.age }}</h3>
                      <br>
                      <h3>{{ pet.race }}</h3>
                  </div>
                  <div class="col-md-6 text-center align-middle">
                      <h3>{{ pet.id }}</h3>
                        <br>

                      <h3 class="d-inline">ChipSet:</h3>
                      {% if pet.chipset %}
                          <h3 class="text-success d-inline">Yes</h3>
                          {% else %}
                          <h3 class="text-danger d-inline">No</h3>
                      {% endif %}


                        <br>
                        <br>
                      <h3 class="d-inline">Barren:</h3>
                      {% if pet.barren %}
                          <h3 class="text-success d-inline">Yes</h3>
                          {% else %}
                          <h3 class="text-danger d-inline">No</h3>
                      {% endif %}
                  </div>

              </div>
          </div>
      </div>




    <div class="mx-auto pb-5 pt-5" style="overflow-x: auto; width: 90%;">
        <h2 class="text-center">Medical Records</h2>
        <table class="table table-primary border border-dark rounded-pill p-3 " >
          <thead>
            <tr>
                <th>Date</th>
                <th>Symptoms</th>
                <th>Prescription</th>
                <th>Vet</th>
                <th>Downloads</th>
            </tr>
          </thead>
          <tbody>
            {% if medical_records %}
            {% for record in medical_records %}
            <tr>
              <td>{{ record.date }}</td>
              <td>{{ record.symptoms }}</td>
              <td>{{ record.prescription }}</td>
              <td>{{ record.vet }}</td>
              <td>{{ record.downloads }}</td>
            </tr>
            {% endfor %}
            {% endif %}

          </tbody>
        </table>
    </div>



    <div class="container-fluid">
        <h2 class="text-center pt-5">Add Record</h2>
        <form class="m-4 p-4 row" method="post" enctype="multipart/form-data" style="border: solid; border-radius: 30px">
            {% csrf_token %}
            <div class="col-md-1 col-form-label">
                <label  for="pet_id2">Pet ID</label>
            </div>
            <div class="col-md-5">
                <input required class="m-2 p-2 d-block" id="pet_id2" type="text" value="{{ pet.id }}" readonly name="pet_id2">
            </div>
            <div class="col-md-1 col-form-label">
                <label for="date">Date</label>
            </div>
            <div class="col-md-5">
                <input required class="m-2 p-2 d-block" id="date" type="date" name="date">
            </div>
            <div class="col-md-1 col-form-label">
                <label class="mt-3" for="symptoms">Symptoms</label>
            </div>
            <div class="col-md-5">
                <textarea required class="m-2 p-2 d-block"  id="symptoms" placeholder="Symptoms" rows="6" style="width: 80%" name="symptoms"></textarea>
            </div>
            <div class="col-md-1 col-form-label">
                <label class="mt-3" for="prescription">Prescription</label>
            </div>
            <div class="col-md-5">
              <textarea required class="m-2 p-2 d-block" id="prescription" placeholder="Prescription" rows="6" style="width: 80%" name="prescription"></textarea>
            </div>
            <div class="col-md-1 col-form-label">
                <label class="mt-3" for="vet">Vet</label>
            </div>
            <div class="col-md-5">
                <input required class="m-2 p-2 d-block" id="vet" type="text" placeholder="Vet" name="vet">
            </div>
            <div class="col-md-1 col-form-label">
                <label class="mt-3" for="downloads">Downloads</label>
            </div>
            <div class="col-md-5">
                <input class="m-2 p-2 d-block" id="downloads" type="file" name="downloads">
            </div>
            <button class="mx-0 m-2 p-2 btn btn-primary" type="submit" name="form_2">Save</button>
        </form>
    </div>

    {% endif %}




<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>